<ion-tabs>

  <ion-tab-bar slot="top" color="dark">
    <ion-tab-button tab="tetum-portuguese">
      <ion-label><b>Tetum -> Português</b></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="portuguese-tetum">
      <ion-label><b>Português -> Tetum</b></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tetum-english">
      <ion-label><b>Tetum -> English</b></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="english-tetum">
      <ion-label><b>English -> Tetum</b></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-header>
    <ion-toolbar>
      <ion-label>
        <div class="ion-text-center">
        <b>Tetumtra</b> - Tradusaun automátiku iha Tétum / Traduções automáticas de Tétum / Automatic Tetun translations
      </div>
      </ion-label>
    </ion-toolbar>
  </ion-header>
</ion-tabs>