<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Português -> Tetum</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-button [disabled]="value.length > 10000 || this.transService.active"
        (click)="translate()">
        {{ this.transService.active ? 'Traduzindo / Traduzi...' : 'Português -> Tetum'}}</ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea id="pttt" autoGrow type="text" [(ngModel)]="value" (ionFocus)="transService.selectText('pttt')"
        placeholder="Introduza o texto a traduzir... / hakerek iha ne'e testu hodi tradús... ">
      </ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf = "this.translation" >
    <ion-card-content>
      <ion-textarea autoGrow [(ngModel)]="translation" readonly [disabled]="this.transService.active">
      </ion-textarea>
    </ion-card-content>
  </ion-card>
</ion-content>